#circle {
	width: 100px;
	height: 100px;
	background: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#square {
	width: 100px;
	height: 100px;
	background: #000000;
}

#oval {
	width: 200px;
	height: 100px;
	background: #000000;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

#up-triangle {
	width: 0;
	height: 0;
	border-bottom: 100px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

#down-triangle {
	width: 0;
	height: 0;
	border-top: 100px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

#left-triangle {
	width: 0;
	height: 0;
	border-right: 100px solid #000000;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

#right-triangle {
	width: 0;
	height: 0;
	border-left: 100px solid #000000;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

#up-trapezium {
	height: 0;
	width: 100px;
	border-bottom: 100px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

#bottom-trapezium {
	height: 0;
	width: 100px;
	border-top: 100px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

#rectangle {
	width: 100px;
	height: 40px;
	background: #000000;
}

#semirounded-rectangle {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 0 50px 50px 0;
}

#left-down-quartercircle {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 0 0 0 100px;
}

#right-down-quartercircle {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 0 0 100px 0;
}

#left-up-quartercircle {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 0 100px 0 0;
}

#right-up-quartercircle {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 100px 0 0 0;
}

#twelve-point-star {
	height: 100px;
	width: 100px;
	background: #000000;
	position: absolute;
}

#twelve-point-star:before {
	height: 100px;
	width: 100px;
	background: #000000;
	content: "";
	position: absolute;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

#twelve-point-star:after {
	height: 100px;
	width: 100px;
	background: #000000;
	content: "";
	position: absolute;
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

#six-point-star {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #000000;
}

#six-point-star:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #000000;
	margin: 30px 0 0 -50px;
}

#star {
	margin: 50px 0;
	position: relative;
	display: block;
	color: #000000;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #000000;
	border-left: 100px solid transparent;
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
}

#star:before {
	border-bottom: 80px solid #000000;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
}

#star:after {
	position: absolute;
	display: block;
	color: #000000;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid #000000;
	border-left: 100px solid transparent;
	-webkit-transform: rotate(-70deg);
	-moz-transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-o-transform: rotate(-70deg);
	content: '';
}

#parallelogram {
	width: 100px;
	height: 50px;
	background: #000000;
	/* Skew */
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
}

#pentagon {
	position: relative;
	width: 50px;
	border-width: 50px 18px 0;
	border-style: solid;
	border-color: #000000 transparent;
}

#pentagon:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: -85px;
	left: -18px;
	border-width: 0 43px 35px;
	border-style: solid;
	border-color: transparent transparent #000000;
}

#hexagon {
	width: 100px;
	height: 50px;
	background: #000000;
	position: relative;
}

#hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #000000;
}

#hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #000000;
}

#octagon {
	width: 100px;
	height: 100px;
	background: #000000;
}

#octagon:before {
	height: 0;
	width: 40px;
	content: "";
	position: absolute;
	border-bottom: 30px solid #000000;
	border-left: 30px solid white;
	border-right: 30px solid white;
}

#octagon:after {
	height: 0;
	width: 40px;
	content: "";
	position: absolute;
	border-top: 30px solid #000000;
	border-left: 30px solid white;
	border-right: 30px solid white;
	margin: 70px 0 0 0;
}

#cross {
	background: #000000;
	width: 33px;
	height: 100px;
	position: relative;
	margin-left: 33px;
	transform: rotate(45deg);
}

#cross:before {
	background: #000000;
	content: "";
	width: 100px;
	height: 33px;
	position: absolute;
	top: 33px;
	left: -33px;
}

#cross-rounded-borders {
	background: #000000;
	width: 33px;
	height: 100px;
	position: relative;
	margin-left: 33px;
	transform: rotate(45deg);
	border-radius: 20px;
}

#cross-rounded-borders:before {
	background: #000000;
	content: "";
	width: 100px;
	height: 33px;
	position: absolute;
	top: 33px;
	left: -33px;
	border-radius: 20px;
}

#plus {
	background: #000000;
	width: 33px;
	height: 100px;
	position: relative;
	margin-left: 33px;
}

#plus:before {
	background: #000000;
	content: "";
	width: 100px;
	height: 33px;
	position: absolute;
	top: 33px;
	left: -33px;
}

#plus-rounded-borders {
	background: #000000;
	width: 33px;
	height: 100px;
	position: relative;
	margin-left: 33px;
	border-radius: 20px;
}

#plus-rounded-borders:before {
	background: #000000;
	content: "";
	width: 100px;
	height: 33px;
	position: absolute;
	top: 33px;
	left: -33px;
	border-radius: 20px;
}

#heart {
	position: relative;
}

#heart:before,
#heart:after {
	position: absolute;
	content: "";
	left: 70px;
	top: 0;
	width: 70px;
	height: 115px;
	background: #000000;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

#heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

#infinity {
	position: relative;
	width: 212px;
	height: 100px;
}

#infinity:before,
#infinity:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border: 20px solid #000000;
	-moz-border-radius: 50px 50px 0 50px;
	border-radius: 50px 50px 0 50px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#infinity:after {
	left: auto;
	right: 0;
	-moz-border-radius: 50px 50px 50px 0;
	border-radius: 50px 50px 50px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: #000000;
	position: relative;
	top: -50px;
}

#diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: #000000;
}

#diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid #000000;
	position: relative;
	top: -50px;
}

#diamond-narrow:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 70px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid #000000;
}

#real-diamond {
	border-style: solid;
	border-color: transparent transparent #000000 transparent;
	border-width: 0 25px 25px 25px;
	height: 0;
	width: 50px;
	position: relative;
	margin: 20px 0 50px 0;
}

#real-diamond:after {
	content: "";
	position: absolute;
	top: 25px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #000000 transparent transparent transparent;
	border-width: 70px 50px 0 50px;
}

#yin-yang {
	width: 96px;
	height: 48px;
	background: #ffffff;
	border-color: #000000;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}

#yin-yang:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #ffffff;
	border: 18px solid #000000;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#yin-yang:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: #000000;
	border: 18px solid #ffffff;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#magnifying-glass {
	font-size: 10em;
	/* This controls the size. */
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border: 0.1em solid #000000;
	position: relative;
	border-radius: 0.35em;
}

#magnifying-glass::before {
	content: "";
	display: inline-block;
	position: absolute;
	right: -0.25em;
	bottom: -0.1em;
	border-width: 0;
	background: #000000;
	width: 0.35em;
	height: 0.08em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

#curvedarrow {
	position: relative;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 9px solid #000000;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
}

#curvedarrow:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 3px solid #000000;
	border-radius: 20px 0 0 0;
	top: -12px;
	left: -9px;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

#left-to-right-arrow {
	position: relative;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-right: 8px solid #000000;
	/*transform*/
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: auto;
}

#left-to-right-arrow:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #000000;
	/*transform*/
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
	margin-left: -2px;
	margin-top: -9px;
}

#right-to-left-arrow {
	position: relative;
	width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #000000;
	/*transform*/
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: auto;
}

#right-to-left-arrow:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 5px solid transparent;
	border-left: 10px solid #000000;
	/*transform*/
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
	margin-left: -8px;
	margin-top: 4px;
}


/* 
 * Update theme
 * Use the same rows
 * 1. Container with #reduce
 * 2. In this Container among themselves the classes in each subcontainer 
 */

#reduce {
	-webkit-transform: rotate(15deg) scale(0.2);
	-moz-transform: rotate(15deg) scale(0.2);
	-ms-transform: rotate(15deg) scale(0.2);
	margin-top: 30px;
}

.outer_circle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;
	background: #000000;
	border-radius: 250px;
}

.inner_circle {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 400px;
	height: 400px;
	background: #ffffff;
	border-radius: 250px;
}

.square {
	position: absolute;
	left: 420px;
	top: 90px;
	width: 100px;
	height: 125px;
	background: #ffffff;
}

.triangle1 {
	position: absolute;
	left: 360px;
	top: 50px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 100px 100px;
	border-color: transparent transparent #000000 transparent;
}